#nav ul{
    display: flex;
    justify-content: space-around;
    background-color: aqua;
    list-style: none;
}
.header{
    text-transform: capitalize;
    text-align: center;
    text-decoration: dotted;
}
#testimonials{
    display: flex;
    box-sizing: border-box;
    border-radius: 25%;
}
.one{
    box-sizing: content-box;
    text-align: center;

}